.home-page {
  display: flex;
  justify-content: center;
  min-height: 100%;

  .container {
    height: 100%;
    width: 100%;
    padding: 1rem;

    @media (--tablet) {
      width: 73.6rem;
    }

    .brand-logo {
      display: flex;
      margin: 7.2rem auto 5.3rem auto;
    }

    .form-input-wrapper {
      margin-bottom: 6.5rem;
    }

    .todo-list {
      margin-top: 2.4rem;
    }

    .logout-btn {
      display: inline-flex;
      justify-content: flex-end;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lang-changer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
